<input type="button" value="Report" (click)="log()">
<br>
<div class="report-container">
    <div class="row">
        <div class="col-lg-1"><b>calculationsID</b></div>
        <div class="col-lg-3"><b>ip</b></div>
        <div class="col-lg-1"><b>numberDrinks</b></div>
        <div class="col-lg-1"><b>hoursUntilTest</b></div>
        <div class="col-lg-1"><b>weight</b></div>
        <div class="col-lg-1"><b>sex</b></div>
        <div class="col-lg-1"><b>hoursDrank</b></div>
        <div class="col-lg-1"><b>etg</b></div>
        <div class="col-lg-2"><b>dateTime</b></div>
    </div>
        
    <div class="row" *ngFor="let calculation of calculations">
        <div class="col-lg-1">{{calculation.CalculationsID}}</div>
        <div class="col-lg-3">{{calculation.ips}}</div>
        <div class="col-lg-1">{{calculation.numberDrinks}}</div>
        <div class="col-lg-1">{{calculation.hoursUntilTest}}</div>
        <div class="col-lg-1">{{calculation.weight}}</div>
        <div class="col-lg-1">{{calculation.sex}}</div>
        <div class="col-lg-1">{{calculation.hoursDrank}}</div>
        <div class="col-lg-1">{{calculation.etg}}</div>
        <div class="col-lg-2">{{calculation.dateTime | date: 'MM-dd-yyyy hh:mm:ss'}}</div>
    </div>

</div>
