<div style="margin-right:15px; margin-left:15px;">
    <div class="row" style="height:auto;">
        <div class="col-md-3">
        </div>
        <div class="content-header col-md-6">
          <span style="margin-left:15px;" class="mobile-text"><h1>Scientific References</h1></span>
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6  faq-container">
          <div>
            <div>
            <div style="margin:25px; text-align: center; background-color: darkgray; border-radius: 6px;">
                <img
                width="350px"
                alt="Scientific references in library"
                src="../../assets/scientific-references.png"/>
                </div>
              <div style="color:rgb(184, 184, 184); height:auto; margin-left:10px; margin-top:10px">
                <p>Below is a list of peer reviewed scientific research over the past two decades from which the calculator was devised as well as the commentary on the various pages of this site.
                </p>
                <p>For a pool of many detailed articles around the science and accuracy of ETG testing, scholar.google.com is an excellent resource.</p>
            </div>
            </div>
            <div>
                <span style="font-size:35px; color: white; margin-left:10px;"><u><b>References</b></u></span>
            </div>
            <div>
                <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
                    <a href="https://doi.org/10.1097/01.ALC.0000134230.21414.11">
                        <p style="font-size: larger;"><b>On Sensitivity, Specificity, and the Influence of Various Parameters on Ethyl Glucuronide Levels in Urine—Results From the WHO/ISBRA Study</b> </p>
                    </a>
                    <p style="font-size: medium;">Alcoholism Clinical and Experimental Research Volume28, Issue 8,  August 2004, Pages 1220-1228</p>
                    <p style="font-size: small;">Friedrich Martin Wurst  Gerhard A. Wiesbeck  Jörg W. Metzger  Wolfgang Weinmann  Marc Graf  the WHO/ISBRA Study on Biological State and Trait Markers of Alcohol Use and Dependence</p>
                    <p style="font-size: small;">WHO/ISBRA Investigators: K.M. Conigrave, M. Dongier, H. Edenberg, C.J.P. Eriksson, M.L.O.S. Formigoni, B.F. Grant, A. Helander, P.L. Hoffman, K. Kiianmaa, T. Koyama, L. Legault, T‐K Li, M. Monteiro, T. Methuen, T. Saito, M. Salaspuro, J.B. Saunders, B. Tabakoff, S. Tufik, J.B. Whitfield, F.M. Wurst</p>
                </div>
            </div>
            <div>
                <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
                    <a href="https://doi.org/10.1111/acer.12407">
                        <p style="font-size: larger;"><b>Ethyl Glucuronide and Ethyl Sulfate Assays in Clinical Trials, Interpretation, and Limitations: Results of a Dose Ranging Alcohol Challenge Study and 2 Clinical Trials</b> </p>
                    </a>
                    <p style="font-size: medium;">Alcoholism Clinical and Experimental Research Volume38, Issue 7,  August 2004, Pages 2056-2065</p>
                    <p style="font-size: small;">Peter I. Jatlow  Ann Agro  Ran Wu  Haleh Nadim  Benjamin A. Toll  Elizabeth Ralevski  Christine Nogueira  Julia Shi  James D. Dziura  Ismene L. Petrakis  Stephanie S. O'Malley</p>
                </div>
            </div>
            <div>
            <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
                <a href="https://doi.org/10.1093/alcalc/agn084">
                    <p style="font-size: larger;"><b>Detection Times for Urinary Ethyl Glucuronide and Ethyl Sulfate in Heavy Drinkers during Alcohol Detoxification</b></p>
                </a>
                <p style="font-size: medium;">Alcohol and Alcoholism, Volume 44, Issue 1, January-February 2009, Pages 55–61</p>
                <p style="font-size: small;">Anders Helander, Michael Böttcher, Christoph Fehr, Norbert Dahmen, Olof Beck</p>
            </div>

            <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
                <a href="https://www.researchgate.net/publication/6277447_Kinetics_in_serum_and_urinary_excretion_of_ethyl_sulfate_and_ethyl_glucuronide_after_medium_dose_ethanol_intake">
                    <p style="font-size: larger;"><b>Kinetics in serum and urinary excretion of ethyl sulfate and ethyl glucuronide after medium dose ethanol intake</b></p>
                </a>
                <p style="font-size: medium;">International Journal of Legal Medicine volume 122, pages123–128(2008)</p>
                <p style="font-size: small;">Claudia C. Halter, Sebastian Dresen, Volker Auwaerter, Friedrich M. Wurst & Wolfgang Weinmann</p>
            </div>
           
            <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
                <a href="https://doi.org/10.1093/alcalc/agm153">
                    <p style="font-size: larger;"><b>Evaluation of a new immunoassay for urinary ethyl glucuronide testing</b></p>
                </a>
                <p style="font-size: medium;">Alcohol and Alcoholism, Volume 43, Issue 1, January 2008, Pages 46–48</p>
                <p style="font-size: small;">Michael Böttcher, Olof Beck, Anders Helander</p>
            </div>
           
            <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
                <a href="https://link.springer.com/article/10.1007%2Fs00414-008-0229-3">
                    <p style="font-size: larger;"><b>In vitro study of bacterial degradation of ethyl glucuronide and ethyl sulphate</b></p>
                </a>
                <p style="font-size: medium;">International Journal of Legal Medicine volume 122, pages389–393(2008)</p>
                <p style="font-size: small;">Stefanie Baranowski, Annerose Serr, Annette Thierauf, Wolfgang Weinmann, Markus Groβe Perdekamp, Friedrich M. Wurst & Claudia C. Halter </p>
            </div>
           
            <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
                <a href="https://www.sciencedirect.com/science/article/abs/pii/S0379073807000618">
                    <p style="font-size: larger;"><b>Segmental determination of ethyl glucuronide in hair: A pilot study</b></p>
                </a>
                <p style="font-size: medium;">Forensic Science International Volume 173, Issues 2–3, 20 December 2007, Pages 87-92</p>
                <p style="font-size: small;">Brice M.R. Appenzellera, Resmi Agirmana, Paul Neubergb, Michel Yeglesa, Robert Wenniga</p>
            </div>
           
            <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
                <a href="">
                    <p style="font-size: larger;"><b></b></p>
                </a>
                <p style="font-size: medium;"></p>
                <p style="font-size: small;"></p>
            </div>
           
            <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
                <a href="">
                    <p style="font-size: larger;"><b></b></p>
                </a>
                <p style="font-size: medium;"></p>
                <p style="font-size: small;"></p>
            </div>
           
            <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
                <a href="">
                    <p style="font-size: larger;"><b></b></p>
                </a>
                <p style="font-size: medium;"></p>
                <p style="font-size: small;"></p>
            </div>
           
            <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
                <a href="">
                    <p style="font-size: larger;"><b></b></p>
                </a>
                <p style="font-size: medium;"></p>
                <p style="font-size: small;"></p>
            </div>
            
        </div>
        </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>

