<div style="margin-right:15px; margin-left:15px;">
<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="content-header col-lg-6">
      <span style="margin-left:15px;"><h1>ETG Calculator</h1></span>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
  <div class="row ad">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3">
      <ng-adsense   
        [adClient]="'ca-pub-4153230998283248'"
        [adSlot]="4773065904"
        [width]="320"
        [height]="100"
        [display]="'inline-block'">
      </ng-adsense>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="terminal col-lg-6">
      <div class="row mobile-container ">
        <div class="col-lg-6" style="color:white;">
          <div class="row" style="margin-top:15px;" *ngIf="!hideCalc">
            <div class="col-lg-3"></div>
            <div class="col-lg-5 mobile-text">Number of Drinks:</div>
            <div class="col-lg-4"><input type="text" style="width:150px" [(ngModel)]="numberOfDrinks"></div>
          </div>
          <div class="row" *ngIf="!hideCalc">
            <div class="col-lg-3"></div>
            <div class="col-lg-5 mobile-text">Hours Until Test:</div>
            <div class="col-lg-4"><input type="text" style="width:150px" [(ngModel)]="hours"></div>
          </div>
          <div class="row" *ngIf="!hideCalc">
            <div class="col-lg-3"></div>
            <div class="col-lg-5 mobile-text">Weight (lbs):</div>
            <div class="col-lg-4"><input type="text" style="width:150px" [(ngModel)]="weight"></div>
          </div>
          <div class="row" *ngIf="!hideCalc">
            <div class="col-lg-3"></div>
            <div class="col-lg-5 mobile-text">Sex:</div>
            <div class="col-lg-4">
              <input type="radio"
              value="0"
              [checked]="sex === 0"
              id="p0"
              (change)="onSexChanged(0)"
              name="sex"> <span style="font-size: small">Male</span>
              <input type="radio"
              value="1"
              [checked]="sex === 1"
              id="p1"
              (change)="onSexChanged(1)"
              style="margin-left:5px;"
              name="sex"> <span style="font-size: small;">Female </span>
            </div>
          </div>
          <div class="row" *ngIf="!hideCalc">
            <div class="col-lg-3"></div>
            <div class="col-lg-5 mobile-text">Hours Drinking:</div>
            <div class="col-lg-4"><input type="text" style="width:150px" [(ngModel)]="hoursDrank"></div>
          </div>
          <div class="row" *ngIf="!hideCalc">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"><button style="margin-top:5px; margin-bottom:15px;" (click)="calculate()">Calculate ETG</button></div>
          </div>
        </div>
        <div class="col-lg-2"  style="color:green;"></div>
        <div class="col-lg-4"  style="color:green;">
          <div class="row" style="margin-top: 25px;">
            <!--<div class="col-lg-1"></div>-->
            <div class="col-lg-11"> 
              <div class="result-text" style="margin-top:10px;">
                <h1>ETG:</h1>
              </div>         
            </div>
          </div>
          <div class="row" style="margin-top: 25px;"> 
            <!--<div class="col-lg-1"></div>-->
            <div class="col-lg-11">
              <div class="result-text result-container">
                {{ETGResult}} <br> <span *ngIf="hideCalc" style="color: white; font-size: smaller;">(see graph below for passing timeline)</span>       
              </div>
              <div class ="row" *ngIf="hideCalc">
                <div style="margin-left:75px;">
                  <div style="float:left">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=etgcalculator-20&marketplace=amazon&amp;region=US&placement=B005VOZSP2&asins=B005VOZSP2&linkId=a0bebb6513d877db620a0499d37b88c8&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=d9d0d0">
                    </iframe>
                  </div>
                  <div style="float:left;">
                    &nbsp;&nbsp;&nbsp;
                  </div>
                  <div style="float:left;">
                    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=etgcalculator-20&marketplace=amazon&amp;region=US&placement=B07C2NQYYM&asins=B07C2NQYYM&linkId=a6918407b8b3b49750d98d3b1a5859a4&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=d9d0d0">
                    </iframe>
                  </div>
                </div>               
              </div>
              <div class="twitter-container">
                <div style="color:white; font-weight:bold; font-size: small;">Find this calculator helpful? Please follow and spread the word.</div>
                <div>
                  <a href="https://twitter.com/ETGCalculator?ref_src=twsrc%5Etfw" class="twitter-follow-button" 
                  data-size="large" data-show-count="false">Follow @ETGCalculator</a>
                </div>
                <div>
                  <a href="https://twitter.com/intent/tweet?screen_name=ETGCalculator&ref_src=twsrc%5Etfw" 
                    class="twitter-mention-button" data-show-count="false" data-size="large">Tweet to @ETGCalculator</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!--<div class="col-lg-1"></div>-->
            <div class="col-lg-11">
            <div id="warning-yellow" style="margin:10px; color:darkgoldenrod; text-align: center;" [hidden]="hideYellow">
              <img src="assets/warning-yellow.png" style="width: 50px; padding-bottom:5px;">
              <p>While your ETG will probably be below the standard 500ng/ml cutoff in most states, you are very close to a fail.</p>
            </div>
            <div id="warning-red" style="margin:10px; color:red; text-align: center;" [hidden]="hideRed">
              <img src="assets/warning-red.png" style="width: 50px; padding-bottom:5px;">
              <p>Your ETG will probably be above the 500ng/ml cutoff in most states and at high risk for failing.</p>
            </div>
            <div id="no-warning" style="margin:10px; color: greenyellow;  text-align: center;" [hidden]="hidePass">
              <img src="assets/no-warning.png" style="width: 50px; padding-bottom:5px;">
              <p>Your ETG will probably be well below 500ng/ml which is the cutoff in most states. Check with your state/conditions if it enforces 100ng/ml.</p>
            </div>
            <div style="margin:10px; text-align: center; font-size:small; color:red" [hidden]="hideDisclaimer">
              <p>
                <b>*NOTE: </b>This calculator is not guaranteed to be 100% accurate and should only be used as a guideline. 
              </p>
            </div>
            </div>
            <div class="col-lg-1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="terminal col-lg-6" style="border-radius: 6px; border-style: solid; border-color: cornflowerblue;">
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-4">
          <div echarts [options]="options" [theme]="theme" class="demo-chart" style="width:350px"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>


  <div class="row" align="center">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <ng-adsense   
        [adClient]="'ca-pub-4153230998283248'"
        [adSlot]="4773065904"
        [width]="320"
        [height]="100"
        [display]="'inline-block'">
      </ng-adsense>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
  <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="content-footer col-lg-6">
        Calculate ETG based on number of drinks consumed, your weight, and time before drug/ETG test
      </div>
      <div class="col-lg-3">
      </div>
  </div>
<br>
  <div class="row" style="height:auto;">
    <div class="col-lg-3">
    </div>
    <div class="content-header col-lg-6">
      <span style="margin-left:15px;"><h1>FAQ</h1></span>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6  faq-container">
      <div style="margin:25px; text-align: center; background-color: darkgray; border-radius: 6px;">
        <img
        width="350px"
        alt="Drug test Frequency Asked Questions"
        src="../../assets/drugtest.jpg"/>
      </div>
      <div>
        <div style="color:white; font-size:x-large; height:auto; margin-top:10px; margin-left:5px;">
          <h2>If I had one or two beers, drinks or shots, can I pass an ETG test in 24 hours?</h2>
        </div>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <ng-adsense   
              [adClient]="'ca-pub-4153230998283248'"
              [adSlot]="4015558014"
              [display]="'inline-block'"
              [width]="320"
              [height]="108"
              [fullWidthResponsive]="true">
            </ng-adsense>
          </div>
          <div class="col-lg-3"></div>
        </div>
        <div>
          <div style="color:rgb(184, 184, 184); height:auto; margin-left:25px">
          <p>If you had one standard drink, then almost anybody with a properly function digestive and liver system will be below 500 ng/ml of ETG in their urine. Note that 500 ng/ml is the standard positive cutoff in most states probations/parole departments and employer's as well. With 2 drinks, your average person will need about 28 hours and will be very close to a fail. It is important to note that metabolism and weight play an important role in the calculation as well as your bodies actual ETG expulsion times.</p>
          </div>
        </div>
      </div>
      <div>
        <div style="color:white; font-size:x-large; height:auto; margin-top:10px; margin-left:5px;">
          <h2>Will mouthwash/hand sanitizer/NyQuil cause you to fail an ETG test?</h2>
        </div>
        <div>
          <div style="color:rgb(184, 184, 184); height:auto; margin-left:25px">
            <p><b><u>NO</u></b>, there has been much research done on extraneous exposure to ethanol on whether or not in can cause you to fail an ETG test and the conclusion is always the same. It CAN NOT. Under extreme conditions of using hand sanitizer 20 times a day and mouth wash 10 times a day, your average person will only be halfway to the standard ETG cutoff of 500 ng/ml. Furthermore, your probation officer and the courts and/or employer will completely dismiss this as a possibility.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <ng-adsense   
              [adClient]="'ca-pub-4153230998283248'"
              [adSlot]="4015558014"
              [display]="'inline-block'"
              [width]="320"
              [height]="108"
              [fullWidthResponsive]="true">
            </ng-adsense>
          </div>
          <div class="col-lg-3"></div>
        </div>
        <div style="color:white; font-size:x-large; height:auto; margin-top:10px; margin-left:5px;">
          <h2>Can ETG really be detected for 80 hours?</h2>
        </div>
        <div>
          <div style="color:rgb(184, 184, 184); height:auto; margin-left:25px">
            <p>Technically <b>YES, <u>BUT</u></b>, the amount of alcohol necessary to be consumed to detect ETG at 80 hours typically means you have consumed so much alcohol that you could care less if you fail (for example, chugging a fifth of whiskey in a few hours). </p>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <ng-adsense   
              [adClient]="'ca-pub-4153230998283248'"
              [adSlot]="4015558014"
              [display]="'inline-block'"
              [width]="320"
              [height]="108"
              [fullWidthResponsive]="true">
            </ng-adsense>
          </div>
          <div class="col-lg-3"></div>
        </div>
        <div style="color:white; font-size:x-large; height:auto; margin-top:10px; margin-left:5px;">
          <h2>How reliable is ETG testing for detecting the consumption of alcohol.</h2>
        </div>
        <div>
          <div style="color:rgb(184, 184, 184); height:auto; margin-left:25px">
            <p>While ETG is highly reliable for the detection of alcohol consumption, there is no way to determine when the person last drank or how much they have had to drink. ETG test are typically performed as part of a court order in which the person under the order is ordered to completely abstain from the consumption of alcohol. If a person fails an ETG test, then it is with almost 100% certainity that they have consumed at least one alcholic beverage in the previous few days (this could have been one beer the night before 12 hours ago, or a 6 pack of high gravity beer 3 nights before). Of course, there are always extreme exceptions to the rule, but if you are here; you probably aren't that exception.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <ng-adsense   
              [adClient]="'ca-pub-4153230998283248'"
              [adSlot]="4015558014"
              [display]="'inline-block'"
              [width]="320"
              [height]="108"
              [fullWidthResponsive]="true">
            </ng-adsense>
          </div>
          <div class="col-lg-3"></div>
        </div>
        <div style="color:white; font-size:x-large; height:auto; margin-top:10px; margin-left:5px;">
          <h2>"My Buddy" or "My attorney" said false positives are possible and common with ETG tests.</h2>
        </div>
        <div>
          <div style="color:rgb(184, 184, 184); height:auto; margin-left:25px">
            <p>Sorry, this is not true. While the Drug Test companies do vastly overstate how long they can detect ETG, they are actually telling the truth when they say false positives for ETG are almost non-existent. If you are one of the few people with a 100 ng/ml cutoff for positive, then it is possible (still very rare), however there are very few if any people on 100 ng/ml cutoffs that aren't on a special order for previously failing ETG tests.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div style="color:white; font-size:x-large; height:auto; margin-top:10px; margin-left:5px;">
          <h2>Should I use this calculator to try to drink and still beat ETG tests?</h2>
        </div>
        <div>
          <div style="color:rgb(184, 184, 184); height:auto; margin-left:25px">
            <p><b>NO</b>, that is not the purpose and if you do so, you will probably end up drinking more than you think, cut it too close, and end up failing your test. This tool is for the purpose of giving people an idea of what their ETG levels if they made a stupid mistake and want to know the likelihood of them failing. If you try to use this tool to drink while under a court order, don't be surprised if after 5 "clean" ETG tests with being in the 200 - 400 ng/ml range you get an unexpected knock on the door at night or early in the moring from your PO ordering you to immediately give a urine specimen. Remember, 500ng/ml is the cutoff to "pass", this doesn't mean that it won't be obvious that you are still drinking.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>