<div style="margin-right:15px; margin-left:15px;">

<div class="row" style="height:auto;">
    <div class="col-md-3">
    </div>
    <div class="content-header col-md-6">
      <div class="mobile-text" style="margin-left:15px;"><h1>What's an ETG Test?</h1></div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6  faq-container">
      <div style="margin-top:25px; text-align: center; background-color: darkgray; border-radius: 6px;">
        <img
        width="350"
        alt="ETG Molecule"
        src="../../assets/ETG.png"/>
      </div>
      <div>
        <div>
          <div style="color:rgb(184, 184, 184); height:auto; margin-left:25px; margin-top:10px">
            <p>ETG, also known as ethyl glucuronide (ETG), is a metabolite produced by your body in the process of eliminating alcohol from your blood. Everytime you drink a beer, take a shot, or have a glass of wine, you are consuming Ethanol that is processed by your digestive system and liver. When this happens, ETG is produced. </p>
            <p>The more alcohol you consume, the more ETG your body produces at an increasing rate for each drink. For example, after one beer, a person might have an ETG of 5000 ng/ml 3 hours later while if they have two beers, they could have an ETG of 30000. An ETG test is used to detect the presence of ETG in urine, which is a metabolite of ethanol. It is important to note that hair, nails and blood can also be used for detection of ETG, but urinalysis is the most common used in the judicial system as well as employment screening. The main purpose of an EtG test is to monitor a person for long term and continual alcohol abstinence.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <ng-adsense   
            [adClient]="'ca-pub-4153230998283248'"
            [adSlot]="4015558014"
            [display]="'inline-block'"
            [width]="320"
            [height]="108"
            [fullWidthResponsive]="true">
          </ng-adsense>
        </div>
        <div class="col-lg-3"></div>
      </div>
      <div>
        <div style="color:white; font-size:x-large; height:auto; margin-top:10px; margin-left:5px;">
            To put it simple
        </div>
        <div>
          <div style="color:rgb(184, 184, 184); height:auto; margin-left:25px">
            Consuming Alcohol cauases your body to produce ETG (ethyl glucuronide). An ETG test analyzes your urine sample to detect the amount of ETG. If your amount is above 500 ng/ml (most states and counties use 500, a select few use 100. Check with your probation officer, attorney, or employer), then you are positive for ETG and thus positve for alcohol consumption. False postives are virtually non-existent.
          </div>
        </div>
      </div>
      <div>
        <div style="color:white; font-size:x-large; height:auto; margin-top:10px; margin-left:5px;">
            Analyzing Results
        </div>
        <div>
          <div style="color:rgb(184, 184, 184); height:auto; margin-left:25px">
            The following ETG ranges for test results indicated the following:
          </div>
          <div style="margin-top:10px;">
            <div style="color:rgb(156, 156, 156); height:auto; margin-left:50px">
              <b>High (1000 ng/ml or more)</b>
            </div>
            <div style="color:rgb(184, 184, 184); height:auto; margin-left:75px">
              - Heavy Drinking in the previous 1-3 days of the test.
            </div>
            <div style="color:rgb(184, 184, 184); height:auto; margin-left:75px">
              - Light Drinking on the previous day of the test.
            </div>
          </div>
          <div style="margin-top:10px;">
            <div style="color:rgb(156, 156, 156); height:auto; margin-left:50px">
              <b>Low (500 ng/ml - 1000 ng/ml)</b>
            </div>
            <div style="color:rgb(184, 184, 184); height:auto; margin-left:75px">
              - Heavy Drinking in the previous 1-2 days of the test.
            </div>
            <div style="color:rgb(184, 184, 184); height:auto; margin-left:75px">
              - Light Drinking on the current day of the test.
            </div>
          </div>
          <div style="margin-top:25px; margin-bottom:25px; text-align: center; background-color: darkgray; border-radius: 6px;">
            The Values above indicate a failed ETG test is most court orders/probation.
            <img
            width="350"
            alt="Failed Drug Test"
            src="../../assets/failed-drug-test.png"/>
          </div>
          <div style="margin-top:10px;">
            <div style="color:rgb(156, 156, 156); height:auto; margin-left:50px">
              <b>Very Low (100 ng/ml - 500 ng/ml)</b>
            </div>
            <div style="color:rgb(184, 184, 184); height:auto; margin-left:75px">
              - Heavy Drinking in the previous 1-3 days of the test.
            </div>
            <div style="color:rgb(184, 184, 184); height:auto; margin-left:75px">
              - Light Drinking in the previous 12-24 hours of the test.
            </div>
            <div style="color:rgb(184, 184, 184); height:auto; margin-left:75px">
              - Large amounts of extraneous exposure (hand sanitizer, nyquil, mouthwash, etc...)
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>