
.spacer {
  margin-top:10px;
  padding-top:50px;
  padding-bottom:20px;
}
@media (max-device-width: 600px) {
  .spacer {
    margin-top: 0px;
  }
}

.content-header {
  border-top-left-radius:6px;
  border-top-right-radius: 6px;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  font-size: 2rem;
  line-height: 0;
  padding: 18px 0;
  }
  
  .mobile-text {
    font-size: 2rem;
    }
    
    @media (max-device-width: 600px) {
      .mobile-text {
        font-size: 1.0rem;
      }
    }

    