<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">  <img
    width="40"
    alt="ETG Logo"
    src="assets/logo.png"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a style="cursor:pointer" class="nav-link" (click)="viewHome()">Home</a>
      </li>
      <li class="nav-item">
        <a style="cursor:pointer" class="nav-link" (click)="viewWhat()">What is an ETG test?</a>
      </li>
      <li class="nav-item">
        <a style="cursor:pointer"  class="nav-link" (click)="viewHow()">How does this Calculator work?</a>
      </li>
      <li class="nav-item">
        <a style="cursor:pointer"  class="nav-link" (click)="viewNotes()">Important Notes</a>
      </li>
      <li class="nav-item">
        <a style="cursor:pointer"  class="nav-link" (click)="viewDisclaimer()">Disclaimer</a>
      </li>
      <li class="nav-item">
        <a style="cursor:pointer"  class="nav-link" (click)="viewAlcoholTaperGuide()"><span style="color: greenyellow"><b>Alcohol Taper Schedule Generator *new</b></span></a>
      </li>
      <li class="nav-item">
        <a style="cursor:pointer"  class="nav-link" href="https://etgcalculator.weebly.com/">Blog</a>
      </li>
      <li class="nav-item">
        <a style="cursor:pointer"  class="nav-link" (click)="viewReferences()">Scientific References</a>
      </li>
    </ul>
  </div>
</nav>
<div class="spacer"></div>
<router-outlet></router-outlet>
<br>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-4">
        <ng-adsense   
          [adClient]="'ca-pub-4153230998283248'"
          [adSlot]="9974461706"
          [display]="'inline-block'"
          [width]="320"
          [height]="108"
          [fullWidthResponsive]="true">
        </ng-adsense>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row" style="margin:0px">
  <div class="col-md-3"></div>
  <div class="col-md-6" style=" background-color:darkgrey; color:white; border-radius: 6px;">
    <div class="mobile-text">Discuss the ETG Calculator</div>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row" style="margin:0px">
  <div class="col-md-3"></div>
  <div class="col-md-6" style=" background-color: rgb(15, 15, 16); color:white; border-radius: 6px;">
    <disqus [identifier]="ETGCalculatorMain"></disqus>
  </div>
  <div class="col-md-3"></div>
</div>

<div class="row" style="text-align: center; color:darkgray; margin-right:15px">
  <div class="col-md-5">
  </div>
  <div class="col-md-1">
    <a class="navbar-brand" href="https://etgcalculator.weebly.com/">  <img
    height="50"
    alt="ETG Calculator on Weebly"
    src="assets/weebly.png"/></a>
  </div>
  <div class="col-md-1">
      <a class="navbar-brand" href="https://twitter.com/etgcalculator">  <img
    height="50"
    alt="ETG Calculator on Twitter"
    src="assets/twitter.png"/></a>
  </div>
  <div class="col-md-1">  
    <a class="navbar-brand" href="https://bitbucket.org/ETGCalculator/etg-calculator/src/master/" style="margin-top:5px">  <img
      height="35"
      width="35"
      alt="ETG Calculator on bitbucket"
      src="assets/bitbucket.png"/></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="row" style="text-align: center; color:darkgray; margin-right:25px">
  <div class="col-md-1"></div>
  <div class="col-md-1"><a href="/main">Home</a></div>
  <div class="col-md-2"><a href="/what">What is an ETG test?</a></div>
  <div class="col-md-3"><a href="/how">How does this Calculator work?</a></div>
  <div class="col-md-2"><a href="/notes">Important Notes</a></div>
  <div class="col-md-1"><a href="/disclaimer">Disclaimer</a></div>
  <div class="col-md-2"><a href="/references">Scientific References</a></div>
</div>