.terminal {
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

.twitter-container{
  margin-top: 10px;
}
.content-footer {
background: rgb(58, 58, 58);
color: #c2c3c4;
font-size: 0.85rem;
border-radius: 6px;
overflow: hidden;
text-align: center;
padding-top: 3px;
padding-bottom:3px;
}

h1 {
  margin-left:5px;
  color: #c2c3c4;
  font-size: 2rem;
  line-height: 0;
}

.content-header {
border-top-left-radius:6px;
border-top-right-radius: 6px;
height: 4px;
background: rgb(58, 58, 58);
color: #c2c3c4;
font-size: 2rem;
line-height: 0;
padding: 18px 0;
}

.h-ad {
  display:inline-block;
}

.result-container {
  border-radius:6px;
  padding: 3px;
  background: rgb(32, 32, 32);
}

.mobile-text {
text-align: right !important;
}



@media (max-width: 992px) {
  .mobile-text {
    text-align: center !important;
  }
}
@media (max-width: 992px) {
    .result-text {
        text-align: center !important;
    }
}

    @media (max-width: 992px) {
    .mobile-container {
        text-align: center !important;
    }
}


  
  .result-text {
    text-align: center !important;
}
  
.faq-container {
  overflow: visible;
  height:auto;
  background-color: rgb(15, 15, 16);
  padding-bottom: 20px;
}

@media (max-width: 480px) {
  .ad{
     display: block;
  }
}

@media (min-width: 480px) {
  .ad{
     display: none;
  }
}
label {
    white-space:nowrap;
}

.wrappable {
    white-space:normal;
    margin-left:5px;
}