<div style="margin-right:15px; margin-left:15px;">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="content-header col-lg-6">
          <span style="margin-left:15px;"><h1>Alcohol Taper Schedule</h1></span>
        </div>
        <div class="col-lg-3">
        </div>
      </div>
      <div class="row ad">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-3">
          <ng-adsense   
            [adClient]="'ca-pub-4153230998283248'"
            [adSlot]="4773065904"
            [width]="320"
            [height]="100"
            [display]="'inline-block'">
          </ng-adsense>
        </div>
        <div class="col-lg-3">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="terminal col-lg-6">
          <div class="row mobile-container ">
            <div class="col-lg-6" style="color:white;" *ngIf="!((TaperByAmountVM) || (TaperByVolumeVM))">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-5 mobile-text"><b>Taper By:</b></div>
                    <div class="col-lg-4">
                        <label>
                            <input type="radio"
                            value="0"
                            [checked]="taperType === 0"
                            id="t0"
                            (change)="onTaperTypeChanged(0)"
                            style="margin-left:5px;"
                            name="taperType"> <span class="wrappable" style="font-size: small"># drinks day per day</span>
                        </label>
                        <br>
                        <label>
                            <input type="radio"
                            value="1"
                            [checked]="taperType === 1"
                            id="t1"
                            (change)="onTaperTypeChanged(1)"
                            style="margin-left:5px;"
                            name="taperType"> <span class="wrappable" style="font-size: small;">Volume (e.g. 500ml liquor, 1250ml wine) </span>
                        </label>
                    </div>
                  </div>
                  <div class="row" [hidden]="hideUnits">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-5 mobile-text"><b>Units</b></div>
                    <div class="col-lg-4">
                        <label>
                            <input type="radio"
                            value="0"
                            [checked]="units === 0"
                            (change)="onUnitsChanged(0)"
                            id="u0"
                            style="margin-left:5px;"
                            name="units"> <span class="wrappable" style="font-size: small">Ounce/oz</span>
                        </label>
                        <br>
                        <label>
                            <input type="radio"
                            value="1"
                            [checked]="units === 1"
                            (change)="onUnitsChanged(1)"
                            id="u1"
                            style="margin-left:5px;"
                            name="units"> <span class="wrappable" style="font-size: small;">Milliliter/ml</span>
                        </label>
                    </div>
                  </div>
              <div class="row">
                <br>
              </div>
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-5 mobile-text" [hidden]="!hideUnits"><b># Drinks Daily:</b></div>
                <div class="col-lg-5 mobile-text" [hidden]="hideUnits"><b>Amount Daily:</b></div>
                <div class="col-lg-3"><input type="text" style="width:150px" [(ngModel)]="amount">
                <span [hidden]="hideUnits">&nbsp; {{unitText}}</span>
                </div>
              </div>
              <div class="row">
                <br>
              </div>
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-5 mobile-text"><b>Taper Speed:</b></div>
                <div class="col-lg-4">
                    <label>
                        <input type="radio"
                        value="0"
                        [checked]="speed === 0"
                        (change)="onTaperSpeedChanged(0)"
                        id="ts0"
                        style="margin-left:5px;"
                        name="speed"> <span class="wrappable" style="font-size: small">Fast/Aggressive</span>
                    </label>
                    <br>
                    <label>
                        <input type="radio"
                        value="1"
                        [checked]="speed === 1"
                        (change)="onTaperSpeedChanged(1)"
                        id="ts1"
                        style="margin-left:5px;"
                        name="speed"> <span class="wrappable" style="font-size: small;">Medium/Standard </span>
                    </label>
                    <br>
                    <label>
                        <input type="radio"
                        value="1"
                        [checked]="speed === 2"
                        (change)="onTaperSpeedChanged(2)"
                        id="p1"
                        style="margin-left:5px;"
                        name="speed"> <span class="wrappable" style="font-size: small;">Slow/Cautious </span>
                    </label>
                </div>
              </div>
              <div class="row">
                <br>
              </div>
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-5 mobile-text"  style="font-size: 11pt;"><b>Averge Time of 1st Drink:</b></div>
                <div class="col-lg-4">
                  <input [ngxTimepicker]="startPicker" [value]="'5:00 PM'">
                  <ngx-material-timepicker #startPicker (timeSet)="setStartTime($event)"></ngx-material-timepicker>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-5 mobile-text" style="font-size: 11pt;"><b>Averge Time of Last Drink:</b></div>
                <div class="col-lg-4">
                  <input [ngxTimepicker]="endPicker" [value]="'1:00 AM'" >
                  <ngx-material-timepicker #endPicker (timeSet)="setEndTime($event)"></ngx-material-timepicker>
                </div>
              </div>              
              <div class="row">
                <br>
              </div>
              <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4"><button style="margin-top:5px; margin-bottom:15px; background-color: green; color:white" (click)="calculate()" >Generate Alcohol Taper Schedule</button></div>
              </div>
            </div>
            <div class="col-lg-2"  style="color:green;"></div>
            <div class="col-lg-4"  style="color:green;">
              <div class="row" *ngIf="!(TaperByAmountVM == null) || !(TaperByVolumeVM == null)">
                <div class="col-lg-12" style="color:greenyellow; font-size: large;"><b>(Scroll below to see Taper Plan)</b></div>
              </div>
              <div class="row" align="center">
                <div class="col-lg-6">
                  <ng-adsense   
                    [adClient]="'ca-pub-4153230998283248'"
                    [adSlot]="9974461706"
                    [display]="'inline-block'"
                    [width]="320"
                    [height]="108"
                    [fullWidthResponsive]="true">
                  </ng-adsense>
                </div>
                <div class="col-lg-3">
                </div>
              </div>
              <div class="row" style="margin-top: 25px;" *ngIf="!(TaperByAmountVM == null) || !(TaperByVolumeVM == null)">
                <!--<div class="col-lg-1"></div>-->
                <div class="col-lg-11"> 
                  <div class="result-text" style="margin-top:10px;">
                    <h1>Taper Plan:</h1>
                  </div>         
                </div>
              </div>
              <div class="row" *ngIf="!(TaperByAmountVM == null) || !(TaperByVolumeVM == null)">
                <br>
              </div>
              <div class="row" *ngIf="!(TaperByAmountVM == null) || !(TaperByVolumeVM == null)">
                <div class="col-lg-2"></div>
                <div class="col-lg-10"><button style="margin-top:5px; margin-bottom:15px; background-color: green; color:white" (click)="printThis()" >Save Plan as Image</button></div>
              </div>
              <br>
              <div id="taperPlanWrapperVolume" style="text-align: left; border-color:aliceblue; border-width: 1px; border-style: solid;" *ngIf="!(TaperByVolumeVM == null)">
                <div class="row">
                  <div class="col-sm-12"> 
                    <div style="color: rgb(0, 0, 0); background-color: rgb(0, 140, 255); padding-left:5px;"><b>Generated By 
                      <span style="color:rgb(255, 255, 255)">AlcoholTaper.com</span></b>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12"> 
                    <div style="color: White; background-color: rgb(65, 97, 124); padding-left:5px;"><b>Number of days to Taper: &nbsp; <span style="color:rgb(58, 252, 58)">{{TaperByVolumeVM.NumberOfDays}}</span></b></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12"> 
                    <div *ngFor="let detail of TaperByVolumeVM.TaperByVolumeDetails">
                      <div style="width:100%; background-color: rgb(54, 47, 51); padding-left: 10px;">
                        <span style="color: White;"><b>Day: &nbsp;</b></span><span style="color: rgb(58, 252, 58)">{{detail.DayIndex + 1}}</span>&nbsp;&nbsp;&nbsp;
                        <span style="color: White;"><b>Amount Allowed: &nbsp;</b></span><span style="color: rgb(58, 252, 58)">{{detail.AmountAllowed}} {{unitText}}</span>  
                      </div>

                    <div class="row" *ngFor="let drink of detail.SpecificDrinks">
                      <div class="col-sm-12"> 
                        <div style="padding-left: 15px;">
                          <div class="row">
                            <div style="padding-left: 25px;">
                              <span style="color: rgb(207, 207, 207);"><b><i>Drink Number {{drink.DrinkIndex + 1}}:</i> &nbsp;</b></span>
                              {{drink.Time | date:'h:mm a'}} (<span style="color:rgb(2, 172, 24)">{{drink.Amount}} {{unitText}}</span>) 
                            </div>                       
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="taperPlanWrapperAmount" style="text-align: left; border-color:aliceblue; border-width: 1px; border-style: solid;" *ngIf="!(TaperByAmountVM == null)">
                <div class="row">
                  <div class="col-sm-12"> 
                    <div style="color: rgb(0, 0, 0); background-color: rgb(0, 140, 255); padding-left:5px;"><b>Generated By 
                      <span style="color:rgb(255, 255, 255)">AlcoholTaper.com</span></b>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12"> 
                    <div style="color: White; background-color: rgb(65, 97, 124); padding-left:5px;"><b>Number of days to Taper: &nbsp; <span style="color:rgb(58, 252, 58)">{{TaperByAmountVM.NumberOfDays}}</span></b></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12"> 
                    <div *ngFor="let detail of TaperByAmountVM.TaperByAmountDetails">
                      <div style="width:100%; background-color: rgb(54, 47, 51); padding-left: 10px;">
                        <span style="color: White;"><b>Day: &nbsp;</b></span><span style="color: rgb(58, 252, 58)">{{detail.DayIndex + 1}}</span>&nbsp;&nbsp;&nbsp;
                        <span style="color: White;"><b>Drinks Allowed: &nbsp;</b></span><span style="color: rgb(58, 252, 58)">{{detail.NumberDrinksAllowed}}</span>  
                      </div>

                    <div class="row" *ngFor="let drink of detail.SpecificDrinks">
                      <div class="col-sm-12"> 
                        <div style="padding-left: 25px;">
                          <span style="color: rgb(207, 207, 207);"><b><i>Drink Number {{drink.DrinkIndex + 1}}:</i> &nbsp;</b></span>{{drink.Time | date:'h:mm a'}}&nbsp;&nbsp;&nbsp;
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>

              
              <div class="row" style="margin-top: 25px;"> 
                <!--<div class="col-lg-1"></div>-->
                <div class="col-lg-11">
                  <div class="result-text result-container">
                    Click Generate Button to Show     
                  </div>
                  <div class="twitter-container">
                    <div style="color:white; font-weight:bold; font-size: small;">Find this Alcohol Taper Guide helpful? Please follow and spread the word.</div>
                    <div>
                      <a href="https://twitter.com/AlcoholTaper?ref_src=twsrc%5Etfw" class="twitter-follow-button" 
                      data-size="large" data-show-count="false">Follow @AlcoholTaper</a>
                    </div>
                    <div>
                      <a href="https://twitter.com/intent/tweet?screen_name=AlcoholTaper&ref_src=twsrc%5Etfw" 
                        class="twitter-mention-button" data-show-count="false" data-size="large">Tweet to @AlcoholTaper</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
        </div>
      </div>
    
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="terminal col-lg-6" style="border-radius: 6px; border-style: solid; border-color: cornflowerblue;">
          <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-4">
              <!--<div echarts [options]="options" [theme]="theme" class="demo-chart" style="width:350px"></div>-->
              chart
            </div>
          </div>
        </div>
        <div class="col-lg-3">
        </div>
      </div>
    