<div style="margin-right:15px; margin-left:15px;">
<div class="row" style="height:auto;">
    <div class="col-md-3">
    </div>
    <div class="content-header col-md-6">
      <span style="margin-left:15px;">Important notes</span>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6  faq-container">
      <div>
        <div>
          <div style="margin-top:25px; margin-bottom:25px; text-align: center; background-color: darkgray; border-radius: 6px;">
            <img
            width="350px"
            alt="Judge with gavel in court"
            src="../../assets/judge-gavel-court.png"/>
          </div>
        </div>
          <div style="color:rgb(184, 184, 184); height:auto; margin-left:10px; margin-top:10px">
            <p>Most of this has been said before on the other pages, but the below will reiterate a few important notes.<p>
        </div>
      </div>
      <div>
        <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
            - Most Importantly! Don't drink while under court order.
        </div>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <ng-adsense   
              [adClient]="'ca-pub-4153230998283248'"
              [adSlot]="4015558014"
              [display]="'inline-block'"
              [width]="320"
              [height]="108"
              [fullWidthResponsive]="true">
            </ng-adsense>
          </div>
          <div class="col-lg-3"></div>
        </div>
        <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
            - Do not use this calculator to try to "beat the system", you will eventually get caught.
        </div>
        <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
            - ETG from one drink will almost certainly be cleared from your system in 24 hours.
        </div>
        <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
            - False positives rarely, if ever, occur at the 500 ng/ml cutoff and this is actually firmly based in countless studies.
        </div>
        <div style="color:white; font-size:x-large; height:auto; margin-top:25px; margin-left:5px;">
            - The "80 hour" detection timeframe is mostly a myth. The amount of alcohol consumed necessary to be detecable in urine via ETG after 80 hours for most people is 15-20 drinks in one night.
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>