.faq-container {
    overflow: visible;
    height:auto;
    background-color: rgb(15, 15, 16);
    padding-bottom: 20px;
  }
  .content-header {
    border-top-left-radius:6px;
    border-top-right-radius: 6px;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    font-size: 2rem;
    line-height: 0;
    padding: 18px 0;
    }
    

    h1 {
      margin-left:5px;
      color: #c2c3c4;
      font-size: 2rem;
      line-height: 0;
    }
    