<div style="margin-right:15px; margin-left:15px;">
  <div class="row" style="height:auto;">
    <div class="col-md-3">
    </div>
    <div class="content-header col-md-6">
      <div class="mobile-text" style="margin-left:15px;"><h1>How does this ETG Calculator work?</h1></div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6  faq-container">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <ng-adsense   
            [adClient]="'ca-pub-4153230998283248'"
            [adSlot]="4015558014"
            [display]="'inline-block'"
            [width]="320"
            [height]="108"
            [fullWidthResponsive]="true">
          </ng-adsense>
        </div>
        <div class="col-lg-3"></div>
      </div>
      <div>
        <div>
          <div style="color:rgb(184, 184, 184); height:auto; margin-left:25px; margin-top:10px">
            <p>As stated in the <a href="/what">What is an ETG Test</a> section, for every drink of alcohol you consume, your body not only produces ETG, but does so at an increasing rate.</p>
            <p>For example, for one drink you might have an ETG maximum level of 5000 after 3 hours, while 2 drinks could cause 30,000 and 3 drinks could cause 150,000.</p>
            <p>At the same time your body is producing ETG, it is also eliminating ETG at a rate proportional to it's half life. Half-life basically means, "how long does it take for my ETG levels to drop by half?" For ETG, the half-life is 2 to 3 hours depending on the person and in this calculator we use 3 hours to be on the safe side.</p>
            <p>To oversimply 15 years of research you can access by googling "ETG test" at scholar.google.com, you can basically say that each drink you consume will add 4500 ng/m raised to the power of the number of drinks to your ETG<sub>max</sub></p>
            <p>For example, the addition for 5 drinks consumed in a drinking session can be written as :</p>
            <p style="text-align: center;">ETG<sub>max</sub> = 4500 + 4500 * 3<sup>2</sup> + 4500 * 3<sup>3</sup> + 4500 * 3<sup>4</sup> + 4500 * 3<sup>5</sup></p>
            <p style="text-align: center;">= 4500 + 4500 * 9 + 4500 * 27 + 4500 * 81 + 4500 * 243</p>
            <p style="text-align: center;">= 4500 + 40500 + 121500 + 364500 + 1093500</p>
            <p style="text-align: center;">= 1624500 ng/ml</p>
            <div style="margin-top:25px; margin-bottom:25px; text-align: center; background-color: darkgray; border-radius: 6px;">
              <img
              width="222px"
              alt="Complex equation with summation"
              src="../../assets/complex-equation.png"/>
            </div>
            <p>Now we must determine how many times this value must be cut in half until it is below 500 ng/ml:</p>
            <p style="text-align: center;">1624500 ng/ml</p>
            <p style="text-align: center;">1624500/2 = 812250</p>
            <p style="text-align: center;">812250/2 = 406125</p>
            <p style="text-align: center;">406125/2 = 203062.5</p>
            <p style="text-align: center;">203062.5/2 = 101531.2</p>
            <p style="text-align: center;">101531.2/2 = 50765.6</p>
            <p style="text-align: center;">50765.6/2 = 25382.8</p>
            <p style="text-align: center;">25382.8/2 = 12691.4</p>
            <p style="text-align: center;">12691.4/2 = 6345.7</p>
            <p style="text-align: center;">6345.7/2 = 3172.8</p>
            <p style="text-align: center;">3172.8/2 = 1586.4</p>
            <p style="text-align: center;">1586.4/2 = 793.2</p>
            <p style="text-align: center; color: green;">793.2/2 = 396.6 ng/ml</p>

            <p>We can thus see, that after being cut in half 12 times, we are now below the 500 ng/ml cutoff.</p>
            <p>Since we are using the upper limit of 3 hours for the half-life of ETG of 3 hours, we simply multiply 12 half-lifes times 3 hours and find that it will take approximately 36 hours to be below the 500 ng/ml cutoff.</p>
            <br>
            <p>Furthermore, since we are dealing with such short half-lifes and the extreme exponential increase of ETG with number of drinks, we can simplify the equation as follows:</p>
            <div style="margin-top:25px; margin-bottom:25px; text-align: center; background-color: darkgray; border-radius: 6px;">
              <img
              width="222px"
              alt="Simplified Equation"
              src="../../assets/final-equation.png"/>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  </div>