<div style="margin-right:15px; margin-left:15px;">
<div class="row" style="height:auto;">
  <div class="col-md-3">
  </div>
  <div class="content-header col-md-6">
    <span style="margin-left:15px;"><h1>Disclaimer</h1></span>
  </div>
  <div class="col-md-3">
  </div>
</div>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6  faq-container">
    <div>
      <div style="margin:25px; text-align: center; background-color: darkgray; border-radius: 6px;">
        <img
        width="300px"
        alt="Legal Disclaimer"
        src="../../assets/legal-disclaimer.png"/>
      </div>
      <div>
        <div style="color:rgb(184, 184, 184); height:auto; margin-left:10px; margin-top:10px">
          <p>This has to be said because inevitably, someone will use this calculator to try to pound a couple of pints of vodka over the weekend and test postive on monday. In no way, shape or form, is this calculator meant or implied or explicitly said to be 100% accurate. It is meant solely to give an estimate of ETG. It is simple, if you are under court order, do not drink.<p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
</div>